
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Outfit:wght@100..900&display=swap');
:root {
   --darkblue: #0071E6;
   --lightblue: #81B6ED;
   --darkgold: #DAAA00;
   --lightgold: #EDDB9D;
}

*{
   font-family: "Funnel Display", Helvetica, sans-serif;
}


body:has(#hero){
   padding: 0rem;
}

body{
   margin: 0;
}

.container {
   display: flex;
   flex-wrap: wrap;
   padding: 2rem;
}

div:has(.title){
   padding: 2rem;
}

.title{
   font-size: 3rem;
   font-family: "Funnel Display", Helvetica, sans-serif;
}

h2{
   font-size: 1.5rem;
}

/*About Us*/
.about_us_imgs{
   float: right;
   max-width: 20rem;
   max-height: 20rem;
}

.about_us_text{
   width: 60%;

}

.img_container{
   margin-left: 2rem;
}

.text_and_img_container .img_container{
   display: flex;
   width: 33%;
   justify-content: center;
}

.text_and_img_container{
   display: flex;
   flex-basis: 100%;
   gap: 2rem;
   margin: 0rem 0rem 2rem 0rem;
}

.about_creators{
   display: flex;
   justify-content: space-evenly;
   gap: 2rem;
}

.creators_img {
   width: 5rem;
   height: 5rem;
   border-radius: 50%;
}

.creator_section .img_container{
   display: flex;
   justify-content: center;
}

/*Businesses*/
.business_section{
   margin: 0rem 5rem 7rem 0rem;
}

.business_img{
   width: 20rem;
   height: 20rem;
}

.star {
   width: 2rem;
   height: 2rem;
}

/*Profile*/
#profile {
   text-align: center;
   justify-content: center;
   flex-wrap: nowrap;
}

#profile img{
   border-radius: 50%;
   max-width: 10rem;
   max-height: 10rem;
}

#profile_img_container { 
   background-color: var(--lightgold);
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: space-evenly;
   width: 30%;
   height: 20rem;
   margin:  0rem 0rem 5rem 0rem;
}

#profile_information {
   margin: 0rem 2rem;
   flex-basis: 60%;
}

#saved_businesses{
   flex-basis: 60%;
   padding: 2rem 0rem;
   margin: 0rem 2.5rem 0rem 0rem;
}

#saved_businesses img {
   max-height: 10rem;
   width: 100%;
}

.cards {
   display: flex;
   flex-basis: 60%;
   flex-wrap: wrap;
   max-height: 70%;
   overflow-y: scroll;
}

.card {
   margin: 1rem;
   width: 15rem;
}

a {
   text-decoration: none;
   color: black;
}

#my_team {
   float: right;
   background-color: var(--lightgold);
   flex-basis: 33%;
   padding: 2rem;
   height: 73%;
}

.team_profile {
   display: flex;
   align-content: space-evenly;
   padding: 2rem 0rem;
}

.team_profile p{
   align-content: space-evenly;
   padding: 1rem;
}

/*home page*/

#hero img{
   width: 100vw;
   height: 70vh;
}

#first_section{
   display: flex;
   gap: 2rem;
}

#first_section img{
   width: 20rem;
   height: 20rem;
   float: left;
}

div:has(#business_cards){
   justify-content: center;
}

#business_cards{
   display: flex;
   flex-wrap: wrap;
   justify-items: space-evenly;
   margin: 2rem 0rem;
}

.applyNow {
   border-radius: 15px;
   padding: 5px 10px;
   background-color: var(--darkgold);
}

.applyNow:hover, .applyNow:active {
   background-color: var(--lightgold); 
   color: var(--darkblue);
}

div:has(#love) {
   display: flex;
   align-items: center;
   width: 100vw;
   margin-top: 2rem;
   gap: 2rem;
}

/*calendar*/
.calendar_cards{
   display: flex;
   flex-wrap: wrap;
}

#calendar{
   width: 90vw;
   height: 70vh;
   margin: 0rem 0rem 2rem 2rem;
}

/*contact us*/
button[type="submit"], input[type="submit"]{
   margin: 2rem 0rem;
   background-color: var(--darkblue);
   color: var(--lightgold);
   border: 0px;
}

#contactImg {
   float: right;
   max-width: 40vw;
   position: relative;
   bottom: 40vw;
   right: 10vw;
}

/*business profile*/

.about_us_imgs {
   margin: 5px;
}